
<!DOCTYPE html>
<html>
<head>
	<meta name="baidu-site-verification" content="Z5o5bfhvOp" />
    <meta name="keywords" content="大连工业大学,无机材料实验教学中心,无机材料,实验教学中心,无机材料研究所,辽宁省重点实验室,硅酸盐工程实验室" />
    <meta name="description" content="大连工业大学无机材料实验室，原为硅酸盐工程实验室，始建于1958年，是我校建校初始就创建的实验室之一。经过50余年的发展，已经逐步形成了以玻璃、陶瓷材料为教学实验，以无机新材料为研究实验的特色人才培养体系，注重实践与创新能力的培养和建设，并取得了辉煌的成绩。" />
    <title>无机材料实验教学中心-实验内容</title>
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!----font-Awesome----->
    <style type="text/css">
        #main {
            width: 86%;
            margin: auto;
            font-size: 18px;
        }
    </style>
    <script>
        window.onload = function ()
        {
            var a = navigator.appVersion;
            var patt1 = new RegExp(/MSIE \d\d?/);
            var b = patt1.exec(a) + "";
            b = parseInt(b.split("MSIE ")[1])
            if (b < 9)
            {
                location.href = "/Home/BrowserError";
            }
        }
    </script>
</head>
<body>
    <div class="header_bg1" style="background: url('/images/head5.png') no-repeat left;">
        <div class="container">
            <div class="row header">
                <div class="logo navbar-left">
                    <h1><a href="/Home/Index">无机材料实验教学中心 </a></h1>
                    <p>Experimental Teaching Center of Inorganic Materials</p>
                </div>
                <div class="h_search navbar-right">
                    <form action="http://cn.bing.com/search" target="_blank">
                        <input type="text" class="text" name="q" value="搜索内容" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索内容';}">
                        <input type="submit" value="搜索">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Home/Head.cshtml")
    <script>
        $("#li4").addClass("active");
    </script>
    <div class="clearfix"></div>
    <div class="main_bg">
        <!-- start main -->
        <div id="main">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>实验名称</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 5;
                        int xh = 1;
                        foreach (wlhx.Models.Dynamic d in ViewBag.filelist)
                        {
                            string color = String.Empty;
                            switch (i++ % 5)
                            {
                                case 1: color = "active"; break;
                                case 2: color = "success"; break;
                                case 3: color = "warning"; break;
                                case 4: color = "danger"; break;
                                case 0: color = "info"; break;
                            }
                            <tr class="@color">
                                <td class="@color">@xh</td>
                                <td class="@color">@d.dynamic_title</td>
                                <td class="@color"><a href="/Home/See/@d.dynamic_id/@d.dynamic_class/li4"  target="_blank">查看</a></td>
                            </tr>
                            xh++;
                        }

                    }

                </tbody>
                <!-- On cells (`td` or `th`) -->

            </table>
            <ul class="pager" style="width:100%">
                @if (ViewBag.isPrevious)
                {
                    int page = ViewBag.index - 1;
                    <li style="float:left"><a href="/Home/ExperimentContent/@page">上一页</a></li>
                }
                @if (ViewBag.isNext)
                {
                    int page = ViewBag.index + 1;
                    <li style="float:right"><a href="/Home/ExperimentContent/@page">下一页</a></li>
                }
            </ul>
        </div>
    </div><!-- end main -->
    @Html.Partial("~/Views/Home/foot.cshtml")
</body>
</html>