
<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="大连工业大学,无机材料实验教学中心,无机材料,实验教学中心,无机材料研究所,辽宁省重点实验室,硅酸盐工程实验室" />
    <meta name="description" content="大连工业大学无机材料实验室，原为硅酸盐工程实验室，始建于1958年，是我校建校初始就创建的实验室之一。经过50余年的发展，已经逐步形成了以玻璃、陶瓷材料为教学实验，以无机新材料为研究实验的特色人才培养体系，注重实践与创新能力的培养和建设，并取得了辉煌的成绩。" />
    <title>大连工业大学无机材料实验教学中心</title>
    <meta charset="utf-8" />
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/css/icons.css" rel='stylesheet' type='text/css' />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!-- start slider -->
    <link href="~/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/js/modernizr.custom.28468.js"></script>
    <script type="text/javascript" src="~/js/jquery.cslider.js"></script>

    <script type="text/javascript">
        $(function ()
        {

            $('#da-slider').cslider({
                autoplay: true,
                bgincrement: 450
            });

        });
        window.onload = function ()
        {

            var a = navigator.appVersion;
            var patt1 = new RegExp(/MSIE \d\d?/);
            var b = patt1.exec(a) + "";
            b = parseInt(b.split("MSIE ")[1])

            if (b < 9)
            {
                location.href = "/Home/BrowserError";
            }
        }
    </script>
    <!-- Owl Carousel Assets -->
    <link href="~/css/owl.carousel.css" rel="stylesheet" />
    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function ()
        {

            $("#owl-demo").owlCarousel({
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                rewindNav: false,
                scrollPerPage: false,
                pagination: false,
                paginationNumbers: false,
            });
            $("#syjx").mouseover(function ()
            {
                $("#syjx_ul").css("display", "block");
            });
            $("#syjx").mouseout(function ()
            {
                $("#syjx_ul").css("display", "none");
            });
            $("#nav_2").mouseover(function ()
            {
                $("#syjx_ul").css("display", "block");
            });
            $("#nav_2").mouseout(function ()
            {
                $("#syjx_ul").css("display", "none");
            });
            $("#syjx_2").mouseover(function ()
            {
                $("#syjx_ul_2").css("display", "block");
            });
            $("#syjx_2").mouseout(function ()
            {
                $("#syjx_ul_2").css("display", "none");
            });
            $("#nav_3").mouseover(function ()
            {
                $("#syjx_ul_2").css("display", "block");
            });
            $("#nav_3").mouseout(function ()
            {
                $("#syjx_ul_2").css("display", "none");
            });
        });
    </script>
    <style>
        body {
            overflow-x: hidden;
            background: url(/images/bg-tile.png) no-repeat 100% 100%;
            background-size: 100% 100%;
        }

        #syjx_ul > li > a:hover {
            background: #33CCCC;
        }

        #syjx_ul_2 > li > a:hover {
            background: #33CCCC;
        }

        .nav {
            background: #fff;
            z-index: 9999;
        }

        li {
            background: #1685BD;
        }

        .main_left {
            width: 26.5%;
            float: left;
            margin-top: 20px;
            margin-right: 10px;
            margin-left: 6px;
        }

            .main_left h3 {
                background: #1685BD;
                color: #fff;
                margin: 0px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: bold;
                line-height: 29px;
                border-bottom: 1px solid #ccc;
                padding-left: 5px;
                box-shadow: 2px 3px 5px #888888;
            }

        .input_text {
            width: 180px;
            height: 26px;
            box-shadow: 0 2px 2px 0px #e9e8e0 inset;
            border: solid 1px #cdcdcd;
            line-height: 22px;
            padding: 5px;
            margin-bottom: 10px;
        }

        .input_button {
            margin-top: 5px;
            background: #62AF00;
            color: #fff;
            border: none;
            width: 80px;
            height: 38px;
            font-family: '宋体';
            font-weight: bold;
            border-radius: 5px;
            -moz-border-radius: 5px;
            cursor: pointer;
            background-repeat: no-repeat;
            margin-left: 20px;
        }

        .main_left ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        .gd {
            float: right;
            margin-top: -34px;
            color: #fff;
            font-weight: bold;
        }

            .gd a {
                color: #fff;
                font-weight: bold;
            }

        .main_left ul li {
            background: #fff;
            padding: 3px 0 3px 6px;
            background: url(/images/dot.png) no-repeat left;
        }

            .main_left ul li a {
                text-decoration: none;
                color: #1D1D1D;
                background: #fff;
                font: 12px/1.5 arial,sans-serif;
            }

                .main_left ul li a:hover {
                    text-decoration: underline;
                    color: red;
                }

            .main_left ul li span {
                float: right;
            }

        .yzm {
            width: 80px;
        }

        .mian_long {
            width: 43%;
            float: left;
        }

        .main_right {
            width: 26.6%;
            margin-right: 0px;
            float: left;
            height: 260px;
        }

        #fl .con_title {
            background-position: 301px 0;
        }

        .con_title {
            float: left;
            background-image: url(/images/sets.gif);
            margin: 16px 0 3px 19px;
        }

        .con_line {
            clear: both;
            background-image: url(/images/main_bg.gif);
            height: 6px;
        }

        #fl_links {
            background-repeat: no-repeat;
            margin: 20px 0 10px 20px;
        }

        .clear {
            clear: both;
            height: 1px;
            overflow: hidden;
            font-size: 1px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $("#yzm-img").click(function ()
            {
                $("#yzm-img").attr("src", "/User/VerCode/" + parseInt(Math.random() * 1000))
            });
            $("#dl_admin").click(function ()
            {
                if ($("#user").val() == "" || $("#passwd").val() == "" || $("#yzm").val() == "")
                {
                    $("#error").html("不允许存在空值.....");
                    return null;
                }
                $("#error").html("&nbsp;");
                $("#dl_admin").text("登录中...");
                $("#dl_admin").attr("disabled", "disabled");
                $.ajax({
                    type: "post",
                    url: "/User/LoginIn",
                    data: {
                        user: $("#user").val(),
                        pwd: $("#passwd").val(),
                        yzm: $("#yzm").val()
                    },
                    success: function (data)
                    {
                        if (data.status == "1")
                        {
                            window.location.href = "/User/Index";
                        }
                        else
                        {
                            $("#error").append(data.msg);
                            $("#dl_admin").text("管理员登录");
                            $("#dl_admin").removeAttr("disabled");
                        }
                    }
                })
            })
            $("#dl_stu").click(function ()
            {
                if ($("#user").val() == "" || $("#passwd").val() == "" || $("#yzm").val() == "")
                {
                    $("#error").html("不允许存在空值.....");
                    return null;
                }
                $("#error").html("&nbsp;");
                $("#dl_stu").text("登录中...");
                $("#dl_stu").attr("disabled", "disabled");
                $.ajax({
                    type: "post",
                    url: "/Student/Login",
                    data: {
                        Username: $("#user").val(),
                        Passwd: $("#passwd").val(),
                        yzm: $("#yzm").val()
                    },
                    success: function (data)
                    {
                        data = JSON.parse(data);
                        if (data.back == "ok")
                        {
                            window.location.href = "/Student/Index";
                        }
                        else
                        {
                            $("#error").append(data.back);
                            $("#dl_stu").text("学生登录");
                            $("#dl_stu").removeAttr("disabled");
                        }
                    }
                })
            })
        });

    </script>

    <!-- //Owl Carousel Assets -->
    <!--font-Awesome-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <!--font-Awesome-->
</head>
<body>
    <div class="header_bg" style="background: url('/images/slider_bg.jpg') no-repeat left;background-size: 100%;">
        <div class="container">
            <div class="row header">
                <div class="logo navbar-left">
                    <h1><a href="/Home/Index">无机材料实验教学中心 </a></h1>
                    <p>Experimental Teaching Center of Inorganic Materials</p>
                </div>
                <div class="h_search navbar-right">
                    <form action="http://cn.bing.com/search" target="_blank">
                        <input type="text" class="text" name="q" value="搜索内容" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索内容';}">
                        <input type="submit" value="搜索">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    @Html.Partial("~/Views/Home/Head.cshtml")<!-- /.navbar-collapse -->
    <!-- start soc_icons -->
    <script>
        $("#li1").addClass("active");
    </script>

    <div class="main_bg" style="width:1170px;margin:auto;">
        <!-- start main -->
        <div class="main_left">
            <h3>用户登录</h3>
            <label>账&nbsp;&nbsp;号：</label><input type="text" id="user" class="input_text" /><br />
            <label>密&nbsp;&nbsp;码：</label><input type="password" id="passwd" class="input_text" /><br />
            <label>&nbsp;验证码：</label><input type="text" id="yzm" class="input_text yzm" /><img id="yzm-img" src="/User/VerCode" style="height:25px;float:right;margin-right:80px" />
            <p id="error" style="color:red;margin-left:40px">&nbsp;</p>
            <button type="button" id="dl_stu" class="input_button">学生登陆</button>
            <button type="button" id="dl_admin" class="input_button">管理员登陆</button>
        </div>
        <div class="main_left mian_long">
            <h3>通知公告</h3>
            <span class="gd"><a href="/Home/Notice" target="_blank">更多>></a></span>
            <ul>
                @foreach (wlhx.Models.Dynamic news in ViewBag.showNotice)
                {
                    <li><a href="/Home/See/@news.dynamic_id/@news.dynamic_class/li10" target="_blank">@news.dynamic_title</a><span>@news.dynamic_publicTime</span></li>
                }
            </ul>
        </div>
        <div class="main_left main_right">
            <h3>专业建设</h3>
            <span class="gd"><a href="/Home/CreativeExercise/1" target="_blank">更多>></a></span>
            <ul>
                @foreach (wlhx.Models.Dynamic news in ViewBag.showCG)
                {
                    <li><a href="/Home/See/@news.dynamic_id/@news.dynamic_class/li10" target="_blank">@news.dynamic_title</a></li>
                }
            </ul>
        </div>
        <div class="main_left">
            <h3>中心概况</h3>
            <div id="video"><div id="a1"></div></div>
            <!-- <p style="text-indent:2em"><a href="/Home/General" target="_blank">连工业大学无机材料实验室，原为硅酸盐工程实验室，始建于1958年，是我校建校初始就创建的实验室之一...</a></p> -->
            <script src="~/ckplayer/ckplayer.js"></script>
            <script type="text/javascript">
                var flashvars = {
                    f: '../../Video/无机材料实验教学中心.flv',//视频地址
                    a: '',//调用时的参数，只有当s>0的时候有效
                    s: '0',//调用方式，0=普通方法（f=视频地址），1=网址形式,2=xml形式，3=swf形式(s>0时f=网址，配合a来完成对地址的组装)
                    c: '0',//是否读取文本配置,0不是，1是
                    x: '',//调用xml风格路径，为空的话将使用ckplayer.js的配置
                    i: '',//初始图片地址
                    d: '',//暂停时播放的广告，swf/图片
                    u: '',//暂停时如果是图片的话，加个链接地址
                    l: '',//视频开始前播放的广告，swf/图片/视频
                    r: '',//视频开始前播放图片/视频时加一个链接地址
                    t: '2',//视频开始前播放swf/图片时的时间
                    e: '2',//视频结束后的动作，0是调用js函数，1是循环播放，2是暂停播放，3是调用视频推荐列表的插件
                    v: '80',//默认音量，0-100之间
                    p: '0',//视频默认0是暂停，1是播放
                    h: '1',//播放http视频流时采用何种拖动方法，0是按关键帧，1是按关键时间点
                    q: '',//视频流拖动时参考函数，默认是start
                    m: '0',//默认是否采用点击播放按钮后再加载视频，0不是，1是,设置成1时不要有前置广告
                    g: '',//视频直接g秒开始播放
                    j: '',//视频提前j秒结束
                    k: '',//提示点时间，如 30|60鼠标经过进度栏30秒，60秒会提示n指定的相应的文字
                    n: '',//提示点文字，跟k配合使用，如 提示点1|提示点2
                    b: '0x000',//播放器的背景色，如果不设置的话将默认透明
                    w: ''//指定调用自己配置的文本文件,不指定将默认调用和播放器同名的txt文件
                    //调用播放器的所有参数列表结束
                };
                var params = { bgcolor: '#000000', allowFullScreen: true, allowScriptAccess: 'always' };//这里定义播放器的其它参数如背景色（跟flashvars中的b不同），是否支持全屏，是否支持交互
                var attributes = { id: 'ckplayer_a1', name: 'ckplayer_a1' };
                //下面一行是调用播放器了，括号里的参数含义：（播放器文件，要显示在的div容器，宽，高，需要flash的版本，当用户没有该版本的提示，加载初始化参数，加载设置参数如背景，加载attributes参数，主要用来设置播放器的id）
                swfobject.embedSWF('../../ckplayer/ckplayer.swf', 'a1', '310', '200', '10.0.0', '../../ckplayer/expressInstall.swf', flashvars, params, attributes); //播放器地址，容器id，宽，高，需要flash插件的版本，flashvars,params,attributes
                //调用播放器结束
            </script>
        </div>
        <div class="main_left mian_long">
            <h3>中心动态</h3>
            <span class="gd"><a href="/Home/Dynamic" target="_blank">更多>></a></span>
            <ul>
                @foreach (wlhx.Models.Dynamic news in ViewBag.showNews)
                {
                    <li><a href="/Home/See/@news.dynamic_id/@news.dynamic_class/li3" target="_blank">@news.dynamic_title</a><span>@news.dynamic_publicTime</span></li>
                }
            </ul>
        </div>
        <div class="main_left  main_right" style="height:310px;">
            <h3>中心架构</h3>
            <ul>
                <li><h5>中心管理</h5></li>
                <li><a>&nbsp;&nbsp;·主任：王志强</a></li>
                <li><a>&nbsp;&nbsp;·副主任：刘贵山</a></li>
                <li><a>&nbsp;&nbsp;·副主任：姜妍彦</a></li>
                <li><h5>中心实验室</h5></li>
                <li><a>&nbsp;&nbsp;·无机材料科学基础实验室</a></li>
                <li><a>&nbsp;&nbsp;·玻璃工艺实验室</a></li>
                <li><a>&nbsp;&nbsp;·热工实验室</a></li>
                <li><a>&nbsp;&nbsp;·粉体工程实验室</a></li>
                <li><a>&nbsp;&nbsp;·材料制备实验室</a></li>
                <li><a>&nbsp;&nbsp;·材料性能实验室</a></li>
            </ul>
        </div>
        <div style="clear:both"></div>
        <div id="fl">
            <div class="con_title"><img src="/images/spacer.gif" width="66" height="17" border="0"></div>
            <div class="con_line"><img src="/images/spacer.gif" width="730" height="6" border="0"></div>
            <div id="fl_links">
                <a title="中国硅酸盐学会" target="_blank" href="http://www.ceramsoc.com/cn/index.html">
                    <img width="119" height="60" border="0" src="/images/link1.png">
                </a>
                <a title="清华大学材料学院" target="_blank" href="http://www.mse.tsinghua.edu.cn/">
                    <img width="119" height="60" border="0" src="/images/link2.png">
                </a>
                <a title="中国陶瓷工业协会" target="_blank" href="http://www.ccianet.cn/">
                    <img width="119" height="60" border="0" src="/images/link3.png">
                </a>
                <a title="中国材料研究学会" target="_blank" href="http://www.c-mrs.org.cn/cn/">
                    <img width="119" height="60" border="0" src="/images/link6.png">
                </a>
                <a title="上海硅酸盐研究所" target="_blank" href="http://www.sic.ac.cn/
">
                    <img width="119" height="60" border="0" src="/images/link4.png">
                </a>
                <a title="上海硅酸盐工业协会网" target="_blank" href="http://www.scachina.org/">
                    <img width="119" height="60" border="0" src="/images/link5.png">
                </a>
                <a title="中国科学技术协会" target="_blank" href="http://www.cast.org.cn/">
                    <img width="119" height="60" border="0" src="/images/link7.png">
                </a>
                <a title="博慧讲坛" target="_blank" href="http://dlpu.fy.chaoxing.com/portal/">
                    <img width="119" height="60" border="0" src="/images/link8.png">
                </a>
                <a title="泛雅网络学习平台" target="_blank" href="http://dlpu.fy.chaoxing.com/portal/">
                    <img width="119" height="60" border="0" src="/images/link9.png">
                </a>
            </div>
            <div class="clear"><img src="/images/spacer.gif" width="1" height="1" border="0"></div>
        </div>
    </div>
    @Html.Partial("~/Views/Home/foot.cshtml")
    </div>
</body>
</html>